*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace, Arial, sans-serif;
  font-size: 75px;
}

body {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background: #e7e7e7;
  padding-top: 30px;
}

/* Calculator container */
.calculator {
  border: 4px solid #333;
  border-radius: 8px;
  padding: 20px;
  background-color: #fafafa;
}

/* Display */
.display {
  width: 100%;
  height: 70px;
  padding: 10px;
  text-align: right;
  font-size: 50px;
  border: 2px solid #444;
  border-radius: 8px;
  background: #ffffff;
  margin-bottom: 20px;
}

.calculator-keys {
  display: flex;
  gap: 10px;
}

.block {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.row {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  height: 60px;
  border-radius: 8px;
  border: none;
  background: #bababa;
  cursor: pointer;
  font-size: 28px;
}

button:hover {
  background: #676767;
}

.btn-clear {
  background: #c4ffbf;
}

.btn-clear:hover {
  background: #8fff52;
}

.operators-block button {
  background: #ffe28b;
}

.operators-block button:hover {
  background: #ffb700;
}

.operators-block .btn-equal {
  flex: 2;
  height: 130px;
  background: #ff7a97;
}

.operators-block .btn-equal:hover {
  background: #ff002f;
}
